@font-face {
    font-family: 'Garamond';
    src: url('../src/assets/fonts/EBGaramond-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Black';
    src: url('../src/assets/fonts/Roboto-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('../src/assets/fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Light';
    src: url('../src/assets/fonts/Roboto-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('../src/assets/fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('../src/assets/fonts/Roboto-Regular.ttf') format('truetype');
}


body{
    margin: 0;
    background-image: url('../src/assets/cathedral_Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Regular', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#content {
    background: rgba(223, 215, 215,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    width: 70vw;
    min-height: 100vh;
}

/* Landing Page Style */

/* Headers */
.header, .menu-head, .contact-head {
    text-align: center;
    font-size: 3.2rem;
    font-family: 'Garamond'; 
}

.head-img {
    border-radius: 12px;
}

.sesteo-copy {
    font-size: 1.5rem;
    background-color: azure;
    opacity: 0.6;
    margin: 8px 40px;
    padding: 8px 20px;
    border-radius: 12px;
    font-weight: 600;
    
}

header {
    background: rgba(223, 215, 215,0.5);
    display: flex;
    justify-content: center;
}

ul {
    display: flex;
    list-style: none;
    padding: 0 40px;
}

header > ul > li {
    padding: 10px 25px;
    border-radius: 12px;
    border: 2px solid rgb(206, 185, 159);
    background-color: bisque;
    margin: 0px 20px;
    font-weight: 700;
    cursor: pointer;
}

/* Menu Tab Style */
.sesteo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.list-img {
    border-radius: 12px;
    width: 300px;
    height: 250px;
    text-align: center;
}

.list-txt {
    font-size: 25px;
    padding: 20px;
    font-weight: 600;
}

/* Contact Page */

.sesteo-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.con-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.con-img {
    border-radius: 12px;
    width: 100px;
    height: 100px;
    text-align: center;
}

.con-txt {
    font-size: 25px;
    padding: 20px;
    font-weight: 600;
}